body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
#restart {
display: none;
}

@media (max-width: 600px) {
  body {
    text-align: none;
    background-color: #011F3F;
  }
  
  #restart {
    margin: 25px auto;
    display: flex;
    height: 50px;
    width: 150px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  #restart > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: auto;
    font-size: 30px;
  }
  #level-title {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  
  .container {
    width: 100%;
  }
  
  .btn {
    margin: 1px 10px;
    display: flex;
    height: 80px;
    width: 80px;
    border: 5px solid black;
    border-radius: 20%;
  }
  .row {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
}